* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  border: 2px solid lightgray;
}

#inner-wrap {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  border: 2px solid lightgray;
}

header {
  border: 2px solid lightgray;
}